<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">
    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
      <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

      <header class="page-header">
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        {% if site.display_header_contact_info == 'true' %}
        <div class="header-contact-info">
          <p>{{ site.resume_header_contact_info }}</p>
        </div>
        {% endif %}

        <div class="title-bar no-print">
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          {{ site.resume_header_intro }}
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking no-print">I'm not looking for work right now.</a>
        {% endif %}
      </header>

      {% if site.resume_section_education %}
      <section class="content-section">
        <header class="section-header">
          <h2>Education</h2>
        </header>
        {% for education in site.data.education %}
        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">{{ education.uni }}</h3>
          <h4 class="resume-item-details group" itemprop="description">{{ education.degree }} &bull; {{ education.year }}</h4>
          <h5 class="resume-item-details award-title" itemprop="description">{{ education.award }}</h5>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              {% for award in education.awards %}
              <li>{{ award.award }}</li>
              {% endfor %}
            </ul>
          </p>
          <p class="resume-item-copy">{{ education.summary }}</p>
        </div>
        {% endfor %}
      </section>
      {% endif %}

      {% if site.resume_section_experience %}
      <section class="content-section">
        <header class="section-header">
          <h2>Research Experience</h2>
        </header>
        {% for job in site.data.experience %}
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }}</h4>
          <p class="resume-item-copy">{{ job.summary }}</p>
        </div>
        {% endfor %}
      </section>
      {% endif %}

      {% if site.resume_section_professional %}
      <section class="content-section">
        <header class="section-header">
          <h2>Professional Experience</h2>
        </header>
        {% for job in site.data.professional %}
        <div class="resume-item">
          <h3 class="resume-item-title">{{ job.company }}</h3>
          <h4 class="resume-item-details">{{ job.position }} &bull; {{ job.duration }}</h4>
          <p class="resume-item-copy">{{ job.summary }}</p>
        </div>
        {% endfor %}
      </section>
      {% endif %}

      {% if site.resume_section_teaching %}
      <section class="content-section">
        <header class="section-header">
          <h2>Courses Taught</h2>
        </header>
        {% for course in site.data.teaching %}
        <div class="resume-item">
          <h3 class="resume-item-title">{{ course.course }}</h3>
          <h4 class="resume-item-details">{{ course.institution }} &bull; {{ course.term }}</h4>
          <p class="resume-item-copy">{{ course.description }}</p>
        </div>
        {% endfor %}
      </section>
      {% endif %}

      {% if site.resume_section_projects %}
      <section class="content-section">
        <header class="section-header">
          <h2>Publications</h2>
        </header>
        {% for project in site.data.projects %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
          <h3 class="resume-item-title" itemprop="name">{% if project.url %}<a href="{{ project.url }}" itemprop="url">{{ project.project }}</a>{% else %}{{ project.project }}{% endif %}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ project.role }} &bull; {{ project.duration }}</h4>
          <p class="resume-item-copy">{{ project.description }}</p>
        </div>
        {% endfor %}
      </section>
      {% endif %}

      {% if site.resume_section_conferences %}
      <section class="content-section">
        <header class="section-header">
          <h2>Conference Presentations</h2>
        </header>
        {% for talk in site.data.conferences %}
        <div class="resume-item">
          <h3 class="resume-item-title">{{ talk.title }}</h3>
          <h4 class="resume-item-details">{{ talk.event }} &bull; {{ talk.year }}</h4>
          <p class="resume-item-copy">{{ talk.description }}</p>
        </div>
        {% endfor %}
      </section>
      {% endif %}

      {% if site.resume_section_conferences %}
<section class="content-section">
  <header class="section-header">
    <h2>Conference Presentations</h2>
  </header>
  {% for talk in site.data.conferences %}
  <div class="resume-item">
    <h3 class="resume-item-title">{{ talk.title }}</h3>
    <h4 class="resume-item-details">{{ talk.event }} &bull; {{ talk.year }}</h4>
    <p class="resume-item-copy">{{ talk.description }}</p>
  </div>
  {% endfor %}
</section>
{% endif %}


      {% if site.resume_section_recognition %}
      <section class="content-section">
        <header class="section-header">
          <h2>Scholarships</h2>
        </header>
        {% for recognition in site.data.recognitions %}
        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">{{ recognition.award }}</h3>
          <h4 class="resume-item-details">{{ recognition.organization }} &bull; {{ recognition.year }}</h4>
          <p class="resume-item-copy">{{ recognition.summary }}</p>
        </div>
        {% endfor %}
      </section>
      {% endif %}


    </div>

  </body>

</html>